<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default_layout}">
<head>
  <title>People Waxing Page</title>
  <!-- 공통 -->


  <!-- 개인 -->
  <link rel="stylesheet" th:inline="css" th:href="@{/css/pages/people/people.css}">
  <script th:inline="javascript" type="text/javascript" th:src="@{/js/pages/people/people.js}"></script>
</head>
<th:block layout:fragment="content">
  <div class="content">

      <div class="middle-middle">
        <h2>왜 왁싱은 피플왁싱일까요?</h2>
        <h1>왁싱의 기준, 피플왁싱</h1>
      </div>


  </div>
</th:block>
</html>