/* 전체 페이지 스타일 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
/* 상단바 고정만 설정 */
.header {
    margin: 0; /* 마진 제거 */
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 100px;
}


body {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    height: 100vh; /* 화면 높이를 100%로 설정 */
    margin: 0; /* 기본 마진 제거 */
}


/* 콘텐츠 스타일 */
/* ------------------------------------------------------------ */

/* 콘텐츠 스타일 */
.content {
    position: relative;
    margin: 0; /* 마진 제거 */
    padding: 0; /* 패딩 제거 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기를 계산 */
    overflow: hidden; /* 콘텐츠가 넘치지 않도록 설정 */
    width: 100%;
    height: 100vh; /* 전체 화면 높이 */
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    display: flex;
    padding-bottom: 300px; /* 푸터 높이만큼 여백 추가 */
}

/* 푸터 스타일 */
footer {
    background-color: #333; /* 푸터 배경 색상 */
    color: white; /* 글자 색상 */
    width: 100%; /* 전체 너비 설정 */
    height: 300px; /* 푸터 높이 설정 */
    position: fixed; /* 푸터를 화면에 고정 */
    bottom: 0; /* 화면의 바닥에 위치 */
    left: 0; /* 화면의 왼쪽에 맞춤 */
    z-index: 1000; /* 다른 콘텐츠보다 우선적으로 보이도록 설정 */
}